
  body {
    border-radius: 20px;
    width: 70%;
    height: 400px;
    margin: 50px auto;
    background: linear-gradient(90deg, #cdb4db, #ffc8dd, #ffafcc, #bde0fe, #a2d2ff);
  }
  h1{
      text-align: center;
      color:#ff0a54;
      padding: 10px;
      font-size: 27px;
  }
  p {
    text-align: justify;
  }

  a:hover{
    color: purple;
  }
