body {
  min-height: 150vh;
  border-radius: 20px;
  width: 70%;
  height: 400px;
  margin: 50px auto;
  background: linear-gradient(90deg, #cdb4db, #ffc8dd, #ffafcc, #bde0fe, #a2d2ff);

}

#menu-h{
    background-color:#ff5c8a;
    padding:5px;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}
h1{
    font-family: serif;
    color:rebeccapurple;
    text-align: center;
     
}
p{
    font-family: sans-serif;
    color:purple;
    text-align: justify;
}
 
.rodape p{
    font-size:15px;
    color:rebeccapurple;
    text-align: center;
    padding:20px;
}
