
  body {
    min-height: 150vh;
    border-radius: 20px;
    width: 70%;
    height: 400px;
    margin: 50px auto;
    background: linear-gradient(90deg, #cdb4db, #ffc8dd, #ffafcc, #bde0fe, #a2d2ff);

  }
  h1{
      text-align: center;
      color:crimson;
      padding: 10px;
      font-size: 27px;
  }
  p {
    text-align: justify;
  }

  .navegacao a:hover{
    color:#E63946;
    background-color:black;
  }
nav{
    top:0px;
    overflow: hidden;
    background-color:#FF85A1;
    padding: 10px;
    padding-top:5px 0px 5px 30px;
    margin:0px;
}
header{
    background-color:#ef476f;
    display:block;
    float:center;
}
.navegacao{
    overflow:hidden;
}
.navegacao a{
    float:right;
    display:block;
    color:crimson;
    text-decoration:none;
    text-align:right;
    padding: 10px 10px;

}
.navegacao a:hover{
    color:white;
    background-color:#83c5be;
}

.rodape p{
    font-size:15px;
    color:purple;
    text-align: center;
    padding:20px;
}